<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
        <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img class="logo" alt="Logo" src="images/logo-mercado-liebre.svg" width="300px">
        <section class="search-bar">
            <input type="search" class="busqueda">
            <button class="button"><i class="fas fa-search"></i></button>
        </section>
        <nav>
            <h2 class="hand"><i class="fas fa-hand-holding-usd" id="hand"></i>Comprá en cuotas y sin tajeta de crédito</h2>
            <ul class="site">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="login-nav">
                <li><a href="">Creá tu cuenta<i class="fas fa-id-card" id="card"></i></a></li>
                <li><a href="">Ingresá<i class="fas fa-sign-in-alt" id="signIn"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket" id="shopping"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>

    </header>
    <main>
        <section>
            <div><img src="images/img-home-banner.jpg" width="100%"></div>
            <h2>Ofertas</h2>
                <article>
                    <div class="contenedor-producto">
                        <img src="images/img-cafetera-moulinex.jpg" width="50%">
                        <div class="detalles-producto">
                          <i class="fas fa-truck-moving"></i>
                          <p class="price">$6.770</p>
                          <p class="off">40% off</p>
                          <p class="product">Cafetera moulinex</p>
                      </div>
                    </div>
                </article>
              <article>
                <div class="contenedor-producto">                    
                    <img src="images/img-macbook-pro-2019.jpg" width="50%">
                    <div class="detalles-producto">
                      <i class="fas fa-truck-moving"></i>
                      <p class="price">$230.000</p>
                      <p class="off">20% off</p>
                      <p class="product">MacBook Pro 2019</p>
                    </div>
                </div>
             </article>
             <article>
                <div class="contenedor-producto"> 
                    <img src="images/img-samsung-galaxy-s10.jpg" width="50%">
                    <div class="detalles-producto">
                      <i class="fas fa-truck-moving"></i>
                      <p class="price">$70.500</p>
                      <p class="off">10% off</p>
                      <p class="product">Samsung Galaxy S10</p>
                    </div>
                </div>
             </article>
             <article>
                <div class="contenedor-producto"> 
                    <img src="images/img-tv-samsung-smart.jpg" width="50%">
                    <div class="detalles-producto">
                      <i class="fas fa-truck-moving"></i>
                      <p class="price">$23.200</p>
                      <p class="off">5% off</p>
                      <p class="product">SmartTv Samsung 43"</p>
                    </div>
                </div>
             </article>
        </section>
    </main>
    <footer>
        <section class="contenedor-footer">
            <i class="fas fa-credit-card" id="creditCard"></i>
            <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="contenedor-footer">
            <i class="fas fa-gift" id="gift"></i>
            <h3><strong>Envío gratis desde $ 2.500</strong></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="contenedor-footer">
            <i class="fas fa-user-shield" id="security"></i>
            <h3><strong>Seguridad, de principio a fin</strong></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="contenedor-footer">
            <h3><i class="far fa-copyright"></i>Copyright 1999-2020 MercadoLiebre S.R.L</h3>
        </section>

    </footer>
</body>
</html>