<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/mercadoLiebre/public/css/register.css">
    <title>Register</title>
</head>
<body>
    <main>
        <form action="/register" method="POST">
            <label for="name">
                <input type="text" name="name" placeholder="Nombre y Apellido" required minlength="8" >
            </label>
            <label for="userName">
                <input type="text" name="userName" placeholder="Nombre de usuario" min="4" required>
            </label>
            <div class="dob-container">
                <label for="dob" class="dob-title">Fecha de nacimiento:
                <input type="date" class="dob-input" name="dob">
                </label>
            </div>
            <label for="address">
                <input type="text" name="address" placeholder="Domicilio">
            </label>
            <div class="user-profile-container">
                <label for="profile" class="user-profile-title">Perfil del usuario:
                    <div class="user-profile-radio">
                        <input type="radio" name="profile" value="shopper" ><span>Comprador</span>
                        <input type="radio" name="profile" value="seller" ><span>Vendedor</span>
                    </div>
                </label>
            </div>
            <div class="interest-container">
                <label for="interest">Intereses:
                    <div class="interest-checkbox"> 
                        <input type="checkbox" name="interest" value="electro" ><span>Electro</span>
                    </div>
                    <div class="interest-checkbox">
                        <input type="checkbox" name="interest" value="moda"><span>Moda</span>
                    </div>  
                    <div class="interest-checkbox">
                        <input type="checkbox" name="interest" value="hogar" ><span>Hogar</span>
                    </div>
                    <div class="interest-checkbox">
                        <input type="checkbox" name="interest" value="jugueteria" ><span>Juguetería</span>
                    </div>
                    <div class="interest-checkbox">
                        <input type="checkbox" name="interest" value="vidaSana" ><span>Vida Sana</span>
                    </div>
                </label>
            </div>
            <label for="photo"><span>Suba su foto de perfil acá</span>
                <input type="file"></input>
            </label>
            <label for="password">
                <input type="password" minlength="8" name="password" placeholder="Introduzca su contraseña" required>
            </label>
            <label for="password">
                <input type="password" minlength="8" name="password" placeholder="Confirma contraseña" required>
            </label>
            <button type="submit" class="submit-register">Enviar</button>
        </form>
    </main>
</body>
</html>